<% content_for(:title) { '企業情報' } %>
<%= vite_typescript_tag 'entrypoints/organizations/application.ts' %>

<div id="app" data="<%= { loggedIn: @logged_in, data: { organization: @organization } }.to_json %>"></div>
